.container-fluid {
  height: 83.583vh;
}

#navbar-container {
  background: #879aa8;
  & .nav-link {
    font-weight: 700;
    font-size: .755em;
    color: #dbe1e5;
    margin: 0 .8em;
    padding: 0 .3em;
    &.active {
      border-bottom: .1em solid #dbe1e5;
    }
  }
}

#footer-container {
  background: #3d5f77;
  & small {
    font-weight: 400;
    font-size: .655em;
    color: #9eafba;
  }
}

#common-header-container {
  & img {
    width: 24vw;
  }
}

#vertical-rule {
  background: #FFFFFF;
  width: 2px;
  height: 75vh;
}

h1 {
  font-weight: 700;
  color: #294d6a;
  text-transform: uppercase;
  font-size: .875em;
}

p {
  font-weight: 600;
  color: #999a9c;
  font-size: .745em;
  line-height: 1.8em;
}

.btn {
  background: #879aa8;
  color: #dbe1e5;
  font-weight: 700;
  font-size: .755em;
  border-radius: 0;
}

#right {
  height: 70vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 575px) {
  #main-container {
    margin-bottom: 10em;
  }
  .btn {
    font-size: 1em;
  }
  #navbar-container {
    &.hide {
      display: none;
    }
    & .nav-item {
      /* padding: .5em 0em; */
      & .nav-link {
        margin: .9em;
        border-bottom: none;
        padding-bottom: .1em;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
  #divider-container {
    display: none;
  }
  #right {
    height: 80vh;
  }
}