@import 'common-body.css';
@import 'common-all.css';

#top {
  & a {
    font-weight: 600;
    color: #999a9c;
    font-size: .745em;
    line-height: 1.8em;
    background: #FFFFFF;
    padding: .5em .9em;
    margin-left: -.9em;
  }
}

h2 {
  font-weight: 700;
  color: #6d7173;
  font-size: .755em;
  /* margin-bottom: .225em; */
}

#bottom {
  & a {
    font-weight: 700;
    font-size: .745em;
    line-height: 1.8em;
    font-style: italic;
    color: #294d6a;
  }
  & span {
    padding: 0 .3em;
  }
}

@media (max-width: 575px) {
  #top {
    & a {
      margin-left: 0;
    }
  }
  #bottom {
    & a {
      padding: .5em .4em;
    }
  }
}